<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <h1>Hello Harsh </h1>
    <h2>This is express.js</h2>
    <h2>Basic Form Handling</h2>
    <form action="/get-form-data" method="post">
        <input class="input" type="text" placeholder="Enter Username" name="Username"><br>
        <input class="input" type="email" placeholder="Enter Email" name="Email"><br>
        <input class="input" type="password" placeholder="Enter Password" name="Password"><br>
        <button id="submit" type="submit">Submit</button>
    </form>
</body>
</html>